<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createDedicasForm" (submit)="createDedicas()">

    <ion-item>
      <ion-label stacked>Artist Name</ion-label>
      <ion-input formControlName="nomEmet" type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Album Name</ion-label>
      <ion-input formControlName="nomDest" type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Song Description</ion-label>
      <ion-textarea formControlName="message" type="text">
      </ion-textarea>
    </ion-item>


    <ion-button expand="block" type="submit" 
      [disabled]="!createDedicasForm.valid">
      Add Song
    </ion-button>
  </form>
</ion-content>
